USE [master]
GO
/****** Object:  Database [QueuesGenerator]    Script Date: 9/5/2020 9:35:16 PM ******/
CREATE DATABASE [QueuesGenerator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QueuesGenerator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QueuesGenerator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QueuesGenerator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QueuesGenerator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QueuesGenerator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QueuesGenerator]
GO
/****** Object:  Table [dbo].[Queues]    Script Date: 9/5/2020 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Queues](
	[QueueId] [int] IDENTITY(1,1) NOT NULL,
	[QueueName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Queues] PRIMARY KEY CLUSTERED 
(
	[QueueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technologies]    Script Date: 9/5/2020 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technologies](
	[TechnologyId] [int] IDENTITY(1,1) NOT NULL,
	[TechnologyName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Technologies] PRIMARY KEY CLUSTERED 
(
	[TechnologyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnologyQueues]    Script Date: 9/5/2020 9:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnologyQueues](
	[TechnologyId] [int] NOT NULL,
	[QueueId] [int] NOT NULL,
 CONSTRAINT [PK_TechnologyQueues] PRIMARY KEY CLUSTERED 
(
	[TechnologyId] ASC,
	[QueueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Queues] ON 

INSERT [dbo].[Queues] ([QueueId], [QueueName]) VALUES (1, N'Orders')
INSERT [dbo].[Queues] ([QueueId], [QueueName]) VALUES (2, N'LocalOrders')
SET IDENTITY_INSERT [dbo].[Queues] OFF
SET IDENTITY_INSERT [dbo].[Technologies] ON 

INSERT [dbo].[Technologies] ([TechnologyId], [TechnologyName]) VALUES (1, N'MSMQ')
INSERT [dbo].[Technologies] ([TechnologyId], [TechnologyName]) VALUES (2, N'RabbitMQ')
INSERT [dbo].[Technologies] ([TechnologyId], [TechnologyName]) VALUES (3, N'ActiveMQ')
SET IDENTITY_INSERT [dbo].[Technologies] OFF
ALTER TABLE [dbo].[TechnologyQueues]  WITH CHECK ADD  CONSTRAINT [FK_TechnologyQueues_Queues] FOREIGN KEY([QueueId])
REFERENCES [dbo].[Queues] ([QueueId])
GO
ALTER TABLE [dbo].[TechnologyQueues] CHECK CONSTRAINT [FK_TechnologyQueues_Queues]
GO
ALTER TABLE [dbo].[TechnologyQueues]  WITH CHECK ADD  CONSTRAINT [FK_TechnologyQueues_Technologies] FOREIGN KEY([TechnologyId])
REFERENCES [dbo].[Technologies] ([TechnologyId])
GO
ALTER TABLE [dbo].[TechnologyQueues] CHECK CONSTRAINT [FK_TechnologyQueues_Technologies]
GO
USE [master]
GO
