<div style="height: 77vh; margin: 20px">
    <h2>Total User Checkins Count: <span>{{userCheckinsCount}}</span></h2>
    <h2>Total User Approved Vacation Count: <span>{{userVacationsCount}}</span></h2>
    <h2>Holidays Count: <span>{{holidaysCount}}</span></h2>
    <h2>Remaining Vacations Count (24 - {{userVacationsCount}}): <span>{{remainingVacationsCount}}</span></h2>
    <h2>Remaining Count (365 - {{userCheckinsCount}} + {{userVacationsCount}} + {{holidaysCount}}): <span>{{margin}}</span></h2>
</div>
